TESTAPIKEY=rzp_test_SMgR1wtvWI0mSM
TESTKEYSECRET=fpsjhSrjYlXCC4xM1VEtgUyR
SUPERBASE_PASSWORD=m8euKVlZeSFpFr56
NEXT_PUBLIC_SUPABASE_URL=https://ikplfuggvgukakrramek.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrcGxmdWdndmd1a2FrcnJhbWVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MjgwNzcsImV4cCI6MjA4ODEwNDA3N30.Nzi6oVF8hnL9OeWSiueU8V9mwg1PMj4iuF7Zz7JPxfE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrcGxmdWdndmd1a2FrcnJhbWVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjUyODA3NywiZXhwIjoyMDg4MTA0MDc3fQ.mULql7cbPr3OXJbg302EOhfxaTgowqLB9gd5sbz51so
